 .u-section-1 {
  background-image: url("/images/3d-phone-burst-colors-abstract-art-47ckyiwbdly4my10.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-1 .u-image-1 {
  width: 643px;
  height: 643px;
  --radius: 50px;
  margin: 157px auto 0;
}

.u-section-1 .u-group-1 {
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 183px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 25px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 444px;
    height: 444px;
    margin-top: 25px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 60px;
    min-height: 223px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 157px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 136px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  min-height: 182px;
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 100px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 831px;
}

.u-section-3 .u-image-1 {
  width: 173px;
  height: 186px;
  margin: 28px auto 0 214px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  margin: -186px 202px 0 393px;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: 8px 248px 0 387px;
}

.u-section-3 .u-gallery-1 {
  height: 464px;
  width: 803px;
  margin: 22px 139px 0 auto;
}

.u-section-3 .u-gallery-inner-1 {
  grid-gap: 44px 44px;
  grid-template-columns: auto auto;
}

.u-section-3 .u-gallery-item-1 {
  --radius: 50px;
}

.u-section-3 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-gallery-item-2 {
  --radius: 50px;
}

.u-section-3 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-gallery-item-3 {
  --radius: 50px;
}

.u-section-3 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-gallery-item-4 {
  --radius: 50px;
}

.u-section-3 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
}

.u-section-3 .u-btn-1 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: 22px 139px 0 auto;
  padding: 8px 33px;
}

.u-section-3 .u-btn-2 {
  --radius: 6px;
  font-weight: 700;
  font-size: 0.9375rem;
  margin: -40px auto 60px 214px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-image-1 {
    margin-top: 124px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: -121px;
    margin-right: 317px;
    margin-left: 78px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 408px;
    margin-left: 27px;
  }

  .u-section-3 .u-gallery-1 {
    margin-right: -100px;
    margin-bottom: -20px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 137px;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 14px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2031px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 160px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: -1404px;
    margin-left: 0;
    margin-right: 38px;
  }

  .u-section-3 .u-gallery-1 {
    height: 249px;
    width: 720px;
    margin-top: 1487px;
    margin-bottom: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1615px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 250px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.875rem;
    margin-top: -988px;
    margin-right: 0;
  }

  .u-section-3 .u-gallery-1 {
    width: 540px;
    margin-top: 1058px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 22px;
    margin-left: -61px;
  }

  .u-section-3 .u-text-1 {
    margin-top: -154px;
    margin-right: -36px;
    margin-left: 37px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 7px;
    margin-right: -36px;
    margin-left: 37px;
  }

  .u-section-3 .u-gallery-1 {
    height: 215px;
    width: 380px;
    margin-top: 23px;
    margin-left: -20px;
    margin-right: -20px;
  }

  .u-section-3 .u-over-slide-1 {
    padding: 20px;
  }

  .u-section-3 .u-over-slide-2 {
    padding: 20px;
  }

  .u-section-3 .u-over-slide-3 {
    padding: 20px;
  }

  .u-section-3 .u-over-slide-4 {
    padding: 20px;
  }

  .u-section-3 .u-btn-2 {
    margin-bottom: 50px;
  }
} .u-section-4 {
  min-height: 182px;
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 69px;
  }
} .u-section-5 {
  background-image: url("/images/3d-phone-burst-colors-abstract-art-47ckyiwbdly4my10.webp");
  background-position: 50% 50%;
}

.u-section-5 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-5 .u-group-1 {
  width: 413px;
  min-height: 490px;
  height: auto;
  background-image: none;
  margin: 356px -245px 0 auto;
}

.u-section-5 .u-container-layout-1 {
  padding-left: 12px;
}

.u-section-5 .u-text-1 {
  text-transform: none;
  margin: 62px 20px 0 0;
}

.u-section-5 .u-text-2 {
  font-style: italic;
  margin: 31px 53px 0 7px;
}

.u-section-5 .u-image-1 {
  width: 459px;
  height: 994px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  --radius: 50px;
  margin: -740px auto 0 -336px;
}

.u-section-5 .u-image-2 {
  width: 486px;
  height: 1002px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  --radius: 50px;
  margin: -1002px auto 0 -60px;
}

.u-section-5 .u-image-3 {
  width: 526px;
  height: 1002px;
  --radius: 50px;
  margin: -1002px auto 0 255px;
}

.u-section-5 .u-btn-1 {
  margin: -247px 24px 0 auto;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  margin: -45px -246px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-5 .u-group-1 {
    width: 908px;
    min-height: 269px;
    margin-top: 119px;
    margin-right: auto;
    height: auto;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-top: 14px;
    margin-right: 21px;
  }

  .u-section-5 .u-text-2 {
    position: relative;
    margin-right: 21px;
  }

  .u-section-5 .u-image-1 {
    width: 367px;
    height: 681px;
    margin-top: 304px;
    margin-right: -25px;
    margin-left: auto;
  }

  .u-section-5 .u-image-2 {
    width: 379px;
    height: 781px;
    margin-top: -857px;
    margin-right: 265px;
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    width: 412px;
    height: 857px;
    transition-duration: 1s;
    margin-left: 0;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 14px;
    margin-right: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-5 .u-group-1 {
    width: 571px;
    min-height: 426px;
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-1 {
    width: 276px;
    height: 598px;
    margin-top: 20px;
    margin-right: 23px;
  }

  .u-section-5 .u-image-2 {
    width: 294px;
    height: 592px;
    margin-top: -666px;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    width: 296px;
    height: 592px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -247px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-5 .u-group-1 {
    min-height: 456px;
    width: 413px;
    margin-left: 24px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 62px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 50px;
    margin-right: 55px;
    margin-left: 9px;
  }

  .u-section-5 .u-image-1 {
    width: 233px;
    height: 572px;
    margin-top: 24px;
    margin-right: -16px;
  }

  .u-section-5 .u-image-2 {
    width: 242px;
    height: 574px;
    margin-top: -617px;
  }

  .u-section-5 .u-image-3 {
    width: 261px;
    height: 573px;
  }

  .u-section-5 .u-btn-1 {
    margin-right: 55px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-5 .u-group-1 {
    width: 282px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 38px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 33px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-5 .u-image-1 {
    width: 167px;
    height: 333px;
    margin-top: 105px;
    margin-right: -27px;
  }

  .u-section-5 .u-image-2 {
    height: 339px;
    width: 172px;
    margin-top: -380px;
  }

  .u-section-5 .u-image-3 {
    width: 186px;
    height: 366px;
    margin-left: -31px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: -401px;
    margin-right: 42px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 3px;
    margin-right: -13px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 182px;
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 76px;
  }
} .u-section-7 {
  min-height: 735px;
}

.u-section-7 .u-sheet-1 {
  min-height: 967px;
}

.u-section-7 .u-image-1 {
  width: 392px;
  height: 801px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: 12px -282px 0 auto;
}

.u-section-7 .u-group-1 {
  width: 393px;
  height: auto;
  min-height: 581px;
  background-image: none;
  --radius: 50px;
  margin: -657px auto 0 -196px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 12px;
  padding-bottom: 0;
}

.u-section-7 .u-text-1 {
  text-transform: none;
  position: relative;
  margin: 45px 20px 0 0;
}

.u-section-7 .u-text-2 {
  font-style: italic;
  margin: 13px 20px 0 0;
}

.u-section-7 .u-image-2 {
  width: 390px;
  height: 806px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: -693px 27px 0 auto;
}

.u-section-7 .u-image-3 {
  width: 389px;
  height: 796px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: -749px 329px 0 auto;
}

.u-section-7 .u-btn-1 {
  background-image: none;
  margin: -139px auto 60px -196px;
}

@media (max-width: 1199px) {
   .u-section-7 {
    min-height: 938px;
  }

  .u-section-7 .u-group-1 {
    height: auto;
  }

  .u-section-7 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-7 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
   .u-section-7 {
    min-height: 735px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-image-3 {
    margin-right: 151px;
  }
}

@media (max-width: 575px) {
   .u-section-7 {
    min-height: 532px;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 863px;
  }

  .u-section-7 .u-image-1 {
    width: 180px;
    height: 394px;
    --radius: 25px;
    margin-top: 20px;
    margin-right: -10px;
  }

  .u-section-7 .u-group-1 {
    width: 379px;
    min-height: 310px;
    margin-top: 69px;
    margin-left: -13px;
  }

  .u-section-7 .u-image-2 {
    width: 186px;
    height: 392px;
    margin-top: -744px;
    margin-right: auto;
  }

  .u-section-7 .u-image-3 {
    width: 170px;
    height: 368px;
    margin-top: -346px;
    margin-right: auto;
    margin-left: -26px;
  }

  .u-section-7 .u-btn-1 {
    margin-top: 334px;
    margin-bottom: 20px;
    margin-left: -13px;
  }
} .u-section-8 {
  min-height: 182px;
}