 .u-section-1 {
  background-image: url("/images/3d-phone-burst-colors-abstract-art-47ckyiwbdly4my10.webp");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1043px;
}

.u-section-1 .u-image-1 {
  width: 643px;
  height: 643px;
  --radius: 50px;
  margin: 157px auto 0;
}

.u-section-1 .u-group-1 {
  margin-top: 20px;
  margin-bottom: 40px;
  min-height: 183px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 25px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 927px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 120px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-image-1 {
    width: 444px;
    height: 444px;
    margin-top: 25px;
  }

  .u-section-1 .u-group-1 {
    margin-bottom: 60px;
    min-height: 223px;
    margin-top: 34px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 727px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 157px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-1 .u-image-1 {
    height: 340px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 136px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 28px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1069px;
}

.u-section-2 .u-image-1 {
  width: 173px;
  height: 186px;
  margin: 36px auto 0 433px;
}

.u-section-2 .u-text-1 {
  text-transform: none;
  margin: -39px 25px 0 570px;
}

.u-section-2 .u-image-2 {
  width: 615px;
  height: 363px;
  --radius: 10px;
  margin: -59px auto 0 -201px;
}

.u-section-2 .u-image-3 {
  width: 730px;
  height: 355px;
  --radius: 10px;
  margin: 152px -160px 0 auto;
}

.u-section-2 .u-image-4 {
  width: 707px;
  height: 343px;
  --radius: 10px;
  margin: -609px auto 0 166px;
}

.u-section-2 .u-text-2 {
  font-style: italic;
  font-size: 1rem;
  margin: -526px 176px 703px 459px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1128px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 106px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 116px;
    margin-left: 279px;
  }

  .u-section-2 .u-image-2 {
    width: 486px;
    height: 240px;
    --radius: 50px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 523px;
    height: 254px;
    margin-right: 0;
  }

  .u-section-2 .u-image-4 {
    width: 535px;
    height: 260px;
    margin-right: 141px;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 156px;
    margin-left: 279px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    position: relative;
    margin-right: 6px;
    margin-left: 169px;
  }

  .u-section-2 .u-image-2 {
    width: 484px;
    height: 272px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-3 {
    --radius: 50px;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    --radius: 50px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 46px;
    margin-left: 169px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1090px;
  }

  .u-section-2 .u-image-1 {
    margin-left: -50px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -96px;
    margin-left: 96px;
  }

  .u-section-2 .u-image-2 {
    width: 446px;
    height: 250px;
    margin-left: auto;
  }

  .u-section-2 .u-image-3 {
    width: 476px;
    height: 231px;
  }

  .u-section-2 .u-image-4 {
    width: 493px;
    height: 239px;
    margin-top: -517px;
    margin-right: auto;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.875rem;
    margin: -445px 17px 60px 96px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 899px;
  }

  .u-section-2 .u-image-1 {
    width: 100px;
    height: 90px;
    margin-left: -36px;
  }

  .u-section-2 .u-text-1 {
    margin-right: -30px;
    margin-left: 30px;
  }

  .u-section-2 .u-image-2 {
    height: 179px;
    width: 317px;
  }

  .u-section-2 .u-image-3 {
    height: 165px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: 159px;
    width: 329px;
    margin-top: -420px;
  }

  .u-section-2 .u-text-2 {
    position: relative;
    margin-top: -348px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-3 {
  background-image: url("/images/3d-phone-burst-colors-abstract-art-47ckyiwbdly4my10.webp");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 1156px;
}

.u-section-3 .u-group-1 {
  width: 413px;
  min-height: 490px;
  height: auto;
  margin: 356px -246px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 12px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  margin: 62px 20px 0 0;
}

.u-section-3 .u-text-2 {
  font-style: italic;
  margin: 31px 53px 0 7px;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  margin: 40px auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 459px;
  height: 994px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  --radius: 50px;
  margin: -740px auto 0 -336px;
}

.u-section-3 .u-image-2 {
  width: 486px;
  height: 1002px;
  object-position: 0% 0%;
  background-position: 0% 0%;
  --radius: 50px;
  margin: -1002px auto 0 -60px;
}

.u-section-3 .u-image-3 {
  width: 526px;
  height: 1002px;
  --radius: 50px;
  margin: -1002px auto 56px 255px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1555px;
  }

  .u-section-3 .u-group-1 {
    width: 908px;
    min-height: 269px;
    margin-top: 78px;
    margin-right: auto;
    height: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    position: relative;
    margin-top: 14px;
    margin-right: 21px;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-right: 21px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 14px;
  }

  .u-section-3 .u-image-1 {
    width: 367px;
    height: 681px;
    margin-top: 345px;
    margin-right: -25px;
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    width: 379px;
    height: 781px;
    margin-top: -857px;
    margin-right: 265px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 412px;
    height: 857px;
    transition-duration: 1s;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1115px;
  }

  .u-section-3 .u-group-1 {
    width: 571px;
    min-height: 426px;
    margin-top: 38px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 46px;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 40px;
  }

  .u-section-3 .u-image-1 {
    width: 276px;
    height: 598px;
    margin-top: -54px;
    margin-right: 38px;
  }

  .u-section-3 .u-image-2 {
    width: 294px;
    height: 592px;
    margin-top: -592px;
    margin-right: auto;
  }

  .u-section-3 .u-image-3 {
    width: 296px;
    height: 592px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1104px;
  }

  .u-section-3 .u-group-1 {
    min-height: 456px;
    width: 413px;
    margin-top: 0;
    margin-left: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 62px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 50px;
    margin-right: 55px;
    margin-left: 9px;
  }

  .u-section-3 .u-btn-1 {
    margin-right: 55px;
    margin-bottom: 45px;
  }

  .u-section-3 .u-image-1 {
    width: 233px;
    height: 572px;
    margin-top: 25px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 242px;
    height: 574px;
    margin-top: -573px;
    margin-left: 149px;
  }

  .u-section-3 .u-image-3 {
    width: 261px;
    height: 573px;
    margin-bottom: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1065px;
  }

  .u-section-3 .u-group-1 {
    width: 282px;
    margin-top: 34px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
    margin-right: 6px;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
    margin-right: 12px;
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 33px;
    margin-right: auto;
    margin-bottom: 0;
  }

  .u-section-3 .u-image-1 {
    width: 167px;
    height: 333px;
    margin-top: 0;
    margin-right: -9px;
  }

  .u-section-3 .u-image-2 {
    height: 339px;
    width: 172px;
    margin-top: -253px;
    margin-left: auto;
  }

  .u-section-3 .u-image-3 {
    width: 186px;
    height: 366px;
    margin-bottom: 60px;
    margin-left: -16px;
  }
} .u-section-4 {
  min-height: 938px;
}

.u-section-4 .u-sheet-1 {
  min-height: 967px;
}

.u-section-4 .u-image-1 {
  width: 392px;
  height: 801px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: 12px -282px 0 auto;
}

.u-section-4 .u-group-1 {
  width: 393px;
  height: auto;
  min-height: 581px;
  margin: -517px auto 0 -196px;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 12px;
  padding-bottom: 0;
}

.u-section-4 .u-text-1 {
  text-transform: none;
  position: relative;
  margin: 45px 20px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: italic;
  margin: 13px 20px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  margin: 27px auto 0 0;
}

.u-section-4 .u-text-3 {
  font-style: italic;
  width: auto;
  margin: 1013px 32px -1001px 0;
}

.u-section-4 .u-image-2 {
  width: 390px;
  height: 806px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: -834px 27px 0 auto;
}

.u-section-4 .u-image-3 {
  width: 389px;
  height: 796px;
  object-position: 100% 0%;
  background-position: 100% 0%;
  --radius: 50px;
  margin: -749px 329px 60px auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1482px;
  }

  .u-section-4 .u-image-1 {
    width: 373px;
    height: 770px;
    margin-top: 345px;
    margin-right: 21px;
  }

  .u-section-4 .u-group-1 {
    width: 864px;
    min-height: 436px;
    margin-top: -1134px;
    margin-right: 21px;
    margin-left: auto;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 80px;
    margin-right: 32px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 32px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-image-2 {
    margin-top: -35px;
    margin-right: auto;
  }

  .u-section-4 .u-image-3 {
    width: 403px;
    height: 825px;
    margin-top: -771px;
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1682px;
  }

  .u-section-4 .u-image-1 {
    width: 273px;
    height: 569px;
    margin-top: 821px;
    margin-right: 80px;
  }

  .u-section-4 .u-group-1 {
    width: 484px;
    min-height: 755px;
    margin-top: -1334px;
    margin-right: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 26px;
  }

  .u-section-4 .u-text-2 {
    position: relative;
    margin-right: 26px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 27px;
    margin-bottom: 34px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-image-2 {
    width: 274px;
    height: 566px;
    margin-top: -124px;
    margin-left: 181px;
  }

  .u-section-4 .u-image-3 {
    width: 254px;
    height: 520px;
    margin-top: -743px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1417px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 618px;
    margin-top: 477px;
    margin-right: 0;
  }

  .u-section-4 .u-group-1 {
    margin-top: -1056px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    margin-right: 18px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 50px;
    margin-right: 64px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 40px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-2 {
    margin-top: -221px;
    margin-left: 117px;
  }

  .u-section-4 .u-image-3 {
    margin-top: -492px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 735px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1077px;
  }

  .u-section-4 .u-image-1 {
    width: 138px;
    height: 299px;
    margin-top: 551px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -783px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-text-1 {
    margin-top: 55px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 13px;
    margin-right: 6px;
  }

  .u-section-4 .u-btn-1 {
    margin-top: 44px;
    margin-bottom: 55px;
  }

  .u-section-4 .u-image-2 {
    width: 176px;
    height: 365px;
    margin-top: -253px;
    margin-left: auto;
  }

  .u-section-4 .u-image-3 {
    width: 177px;
    height: 361px;
    margin-top: -308px;
    margin-left: -20px;
  }
}